[Desktop Entry]
Terminal=false
Name=Dicolmumag
GenericName=Collage maker
Comment=Imagemagick gui for creating collages
Exec=dicolmumag
Icon=dicolmumag
Type=Application
Categories=2DGraphics;Graphics;Photography;
